body{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
    font-family: Arial;
    font-weight: 700px;
}

.link{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

ul {
    list-style: none;
}

.level1{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.mainText{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 400px;
}

.infoText{
    font-size: 16px;
    color: #E5E7EB;
    max-width: 400px;
}

button{
    font-size: 18px;
    padding:10px;
    border-radius: 8px;
}

.button1{
    color: #F9FAF8;
    background-color: #3882F6;
}


img{
    width:300px;
    height: auto;
}

.level2{
    display: flex;
    flex-direction: column;
    padding: 12px;

}

.subject{
    justify-content: center;
    display: flex;
    font-size: 36px;
    font-weight: 900;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    align-items: center;;
    max-width: 250px;
    max-height: auto;
    font-size: 18px;
    color: #1F2937
}

.level3{
    display: flex;
    background-color: #E5E7EB;
    padding: 80px;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    max-width: 900px;
    display: flex;
    align-self: center;
}
.author{
    font-size: 20px;
    font-weight: bolder;
    align-self: center;
}
.level4{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    background-color: #3882F6;
    padding: 25px 35px;
    border-radius: 16px;
    width: 1000px;
    justify-content: space-around;
}
.message{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}
.text{
    font-size: 32px;
    font-weight: bolder;
    margin: 0;
}

.text1{
    font-size: 18px;
    margin-top: 8px;
}

.button2{
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    height: auto;
    font-weight: bold;
    margin:20px;
    width: 200px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-content: center;
    padding: 24px;
}

.text2{
    font-size: 14px;
    color: #F9FAF8;

}